
  
/* Estilos del Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ff003a;
    color: #fff;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-right: 10px; /* Espacio entre la imagen y el título */
  }
  
  .navbar-title {
    font-size: 1.5em;
    color: #fff;
    margin: 0;
  }
  
  /* Estilos para los enlaces del navbar */
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
  }
  
  /* Estilos del contenedor principal */
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Estilos del formulario */
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, select {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  /* Estilos del botón */
  button {
    padding: 10px;
    background-color: #ff003a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0c1125 ;
  }
  
  /* Estilos de la lista */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  